/*general rules*/

* {
  margin,
  padding: 0;
}

*,
  *:before,
  *:after {
    box-sizing: border-box;
  }

  html,
  body {
    font-family: 'Roboto', sans-serif;
    color: #333;
    height: 100%;
    background-color: #d1d1d1;
  }

  .clearfix:after {
    content: "";
    display: table;
    clear: both;
  }

  .stopscroll {
    overflow: hidden;
  }


  /*header*/

  .header {
    text-align: right;
    background-color: #81b71a;
    margin: 0;
    padding: 10px;
    color: #fff;
    font-size: 24px;
    line-height: 34px;
  }

  .header i {
    margin-right: 10px;
    color: #fff;
  }


  /*navigation menu*/

  #side-navigation {
    background: linear-gradient( -25deg, transparent 25%, #333 25%);
    color: #d1d1d1;
    position: absolute;
    top: 0;
    -webkit-transform: translateY(-70%);
    -ms-transform: translateY(-70%);
    transform: translateY(-70%);
    left: 0;
    height: 290px;
    z-index: 999;
  }

  #side-navigation ul {
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
    -webkit-margin-start: 0;
    -webkit-margin-end: 0;
    -webkit-padding-start: 0;
    list-style: none;
    display: inline-block;
  }

  #side-navigation ul li {
    display: block;
    margin: 30px 15px;
  }

  #side-navigation ul li i {
    margin-right: 10px;
  }

  #side-navigation .menu-text {
    display: block;
    margin-left: 30px;
    transform: rotate(-25deg);
    letter-spacing: 2px;
  }

  #side-navigation .fa-arrow-down {
    position: absolute;
    bottom: 50px;
    left: 10px;
    -webkit-transform: rotate(0);
    -ms-transform: rotate(0);
    transform: rotate(0);
    transition: ease-in 0.25s all;
  }

  #side-navigation.open .fa-arrow-down {
    -webkit-transform: rotate(-180deg);
    -ms-transform: rotate(-180deg);
    transform: rotate(-180deg);
    transition: ease-in 0.25s all;
  }


  /*search*/

  .search-wrapper {
    position: static;
    top: 0;
    transform: translateY(0);
  }

  .search-wrapper.initial {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    right: 0;
  }

  .search-input {
    width: 80%;
    display: block;
    margin: 25px auto;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    border: none;
    background-color: #EAEAEA;
  }

  .search-input:focus {
    outline: none;
  }

  .type-selector {
    text-align: center;
  }

  .type-selector div {
    display: inline-block;
    padding: 10px;
    margin-bottom: 25px;
    width: 35%;
    background-color: #757575;
    color: #d1d1d1;
  }

  .type-selector .selected {
    background-color: #333;
  }

  .search-results {
    margin: 15px;
    display: block;
  }

  .search-results .content {
    float: left;
    margin-left: 15px;
    max-width: 165px;
    height: 150px;
  }

  .search-results .albums {
    font-weight: 600;
  }

  .search-results .artists {
    font-weight: 200;
    font-size: 14px;
  }

  .search-results img {
    height: 150px;
    width: auto;
    float: left;
  }


  /*login*/


  /*
  .login-form > h2 {
  margin-left: auto;
  margin-right: auto;
  color: white;
  }

  .login-form {
  margin: 10% 10% 10% 10%;
  padding: 10% 10% 10% 10%;
  }
   */

.login-form > a {
  display: inline-block;
  text-align: center;
  background-color: #333;
  color: #d1d1d1;
  padding: 10px 40px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  right: 0;
  width: 50%;
  margin: auto;
  text-align: center;
  padding: 20px;
  font-size: 20px;
  text-transform: uppercase;
}


/*now-playing*/

.now-playing {
  position: fixed;
  height: 60%;
  width: 100%;
  //background-color: #2E6121;
  background-color:#333; 
  bottom: 0;
  overflow-y: hidden;
  transform: translateY(80%);
  transition: ease-in 0.25s all;
}

.now-playing .top {
  height: 20%;
}

.now-playing .bottom {
  height: 80%;
}

.now-playing .bottom .image-container {
  width: 80%;
  margin: 2% 10% 2% 10%;
}

.now-playing .bottom .image-container img {
  width: 70%;
  margin: 2% 15% 2% 15%;

}


.now-playing p {
  text-align: center;
  margin: 10px 0;
  padding: 0;
  color: #fff;
}

.now-playing .controls {
  width: 60%;
  font-size: 150%;
  margin: auto;
  text-align: center;
  color: #fff;
}

.now-playing .controls i {
  margin: 0% 12% 0% 12%;
}

.playlists {
  margin-top: 5%;
  margin-bottom: 100px;
}

.playlists .playlist {
  width: 90%;
  margin: 1% 5% 1% 5%;
}

.playlists .playlist .playlist-header {
  padding: 1%;
  background: #757575;
  color: #d1d1d1;
}

.playlists .playlist .playlist-header * {
  display: inline-block;
  vertical-align: middle;
}

.playlists .playlist .playlist-header .playlist-thumbnail {
  width: 20%;
}

.playlists .playlist .playlist-header .title {
  width: 70%;
  font-size: 100%;
  word-wrap: break-word;
}

.playlists .playlist .tracks {
  padding: 0% 2% 0% 2%;
  transition: margin 300ms cubic-bezier(0.17, 0.04, 0.03, 0.94);
}

.playlists .playlist .tracks .track {
  margin: 1% 0% 1% 0%;
  font-size: 90%;
  background: #999999;
  border: 1px solid #999999;
  color: #f2f2f2;
  padding-left: 1%;
  padding-right: 1%;
  padding-top: 2%;
  padding-bottom: 2%;
}


.removed-track {
  animation: removed-track-animation .8s cubic-bezier(.65,-0.02,.72,.29);
}

@keyframes removed-track-animation {
  0% {
    opacity: 1;
    transform: translateX(0);
  }

  30% {
    opacity: 1;
    transform: translateX(50px);
  }

  80% {
    opacity: 1;
    transform: translateX(-800px);
  }

  100% {
    opacity: 0;
    transform: translateX(-800px);
  }
}


.create-playlist-container {
  margin: 5% 2% 5% 2%; 
}

.create-playlist-container:after {  
  content: "";
  display: table;
  clear: both;
}

.create-playlist-container .playlist-name {  
  width: 80%;
  float:left;
  text-align: center;
  border: none;
  background-color: #EAEAEA;
  padding: 5px;
}

.create-playlist-container .create-button {  
  padding: 5px;
  float: left;
  width: 20%;
  background-color: #757575;
  color: #d1d1d1;

}

.next-track-animation {
  animation: next-track-animation .8s cubic-bezier(.65,-0.02,.72,.29);
}


@keyframes next-track-animation {
  0% {
    opacity: 1;
    transform: translateX(0);
  }

  50% {
    opacity: 1;
    transform: translateX(-400px);
  }

  100% {
    opacity: 0;
    transform: translateX(-800px);
  }
}



.previous-track-animation {
  animation: previous-track-animation .8s cubic-bezier(.65,-0.02,.72,.29);
}


@keyframes previous-track-animation {
  0% {
    opacity: 1;
    transform: translateX(0);
  }

  50% {
    opacity: 1;
    transform: translateX(400px);
  }

  100% {
    opacity: 0;
    transform: translateX(800px);
  }
}

