<div class="header">
  <div class="navbar navbar-default">
    <div class="container">
      <div class="navbar-header">
      
          <span class="navbar-brand">Spotify Search</span>
       
          <input type="text" ng-model="query" ng-change="search()" autofocus>
          <span ng-click="type = 'album'">album</span>
          <span ng-click="type = 'artist'">artist</span>
      </div>
    </div>
  </div>
</div>

<div class="resultset container-fluid">
  <div ng-repeat="album in albums.items | limitTo:12" ng-show="type == 'album'">
      <div class="col-xs-3 slot clearfix">
        <img ng-src="{{album.images[0].url}}" alt="">
      </div>

  </div>
  <div ng-repeat="artist in artists.items | limitTo:12" ng-show="type == 'artist'">
   
      <img ng-src="{{artist.images[0].url}}" alt="">


  </div>
</div>